{% extends 'mechbot/base.html' %}
{% block 'body' %}
<form action="" method="POST">
    {% csrf_token %}
    <section class="section">
        <div class="container">
            <div class="card">
                <div class="card-content">                
                    {% for field in form %}
                    <div class="field">
                        <label class="label">{{ field.label_tag }}</label>
                        <div class="control is-primary">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <a class="button is-danger is-fullwidth is-medium" href="{% url 'mechbot_main' %}">Cancel</a>
                </div>
                <div class="column">
                    <input class="button is-primary is-fullwidth is-medium" type="submit" value="Save">
                </div>
            </div>

        </div>

        </div>
    </section>
</form>
{% endblock %}