{% extends 'mechbot/base.html' %}
{% block 'body' %}

<section class="section">
    <div class="container">
        <div class="notification is-danger has-text-centered">
            <button class="delete"></button>
            Before you can receive DMs from MechBot, you have to join the <a
                href="{% url 'discord_server_redirect' %}">Discord server</a> and <b>allow
                direct messages from members</b> in the server Privacy Settings.
                <br>(Sorry, it's a Discord thing meant to prevent spam.)
        </div>
        <div class="columns">
            {% if alerts %}
            <div class="column">
                <p class="content is-medium has-text-centered">You have used up <b>{{alert_count}}</b> of <b>{{alert_limit}}</b> alerts.
                </p>
            </div>
            {% else %}
            <div class="column">
                <p class="content is-medium">No alerts are set.</p>
            </div>
            {% endif %}
            {% if alert_count < alert_limit %}
            <div class="column">
                <a class="button is-fullwidth is-medium is-primary" href="{% url 'new_alert' %}">New Alert</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% if alerts %}

<section class="section">
    <div class="container">
        {% for alert in alerts %}
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-vcentered has-text-centered is-one-quarter">
                        <p class="subtitle">
                            <code>Origin</code>
                        </p>
                        <div class="content">
                            {% if alert.origin %}{{alert.origin}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                    <div class="column is-vcentered has-text-centered">
                        <p class="subtitle">
                            <code>[H]</code>
                        </p>
                        <div class="content">
                            {% if alert.has %}{{alert.has}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                    <div class="column is-vcentered has-text-centered">
                        <p class="subtitle">
                            <code>[W]</code>
                        </p>
                        <div class="content">
                            {% if alert.wants %}{{alert.wants}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" href="{% url 'update_alert' alert.id %}">Edit</a>
                <a class="card-footer-item" href="{% url 'delete_alert' alert.id %}">Delete</a>
            </footer>
        </div>
        <br>
        {% endfor %}
    </div>
</section>


{% endif %}

{% endblock %}