{% load static %}
<link rel="shortcut icon" href="{% static 'favicon.png' %}"/>

<title>MechBot | {{ title }}</title>
<h3>{{ title }}<img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.png" width="32" height="32" style="float:right"></h3>
<hr>

<p>Are you sure you want to delete this Alert?</p>
<p><b>Origin:</b> {{ alert.origin}} | <b>[H]</b> {{ alert.has }} <b>[W]</b> {{ alert.wants }}</p>

<form action="{% url 'delete_alert' alert.id  %}" method="POST">
    
    {% csrf_token %}

    <a class="btn btn-warning" href="{% url 'landing' %}">Cancel</a>

    <input class="btn btn-danger" type="submit" name="Confirm">
</form>