{% extends 'mechbot/base.html' %} 
{% block 'body' %}

<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-vcentered has-text-centered bd-notification">
                        <p class="subtitle">
                            <code>Origin</code>
                        </p>
                        <div class="content">
                            {% if alert.origin %}{{alert.origin}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                    <div class="column is-vcentered has-text-centered">
                        <p class="subtitle">
                            <code>[H]</code>
                        </p>
                        <div class="content">
                            {% if alert.has %}{{alert.has}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                    <div class="column is-vcentered has-text-centered">
                        <p class="subtitle">
                            <code>[W]</code>
                        </p>
                        <div class="content">
                            {% if alert.wants %}{{alert.wants}}{% else %} <i>Any</i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">       
            <form action="{% url 'delete_alert' alert.id  %}" method="POST">
                {% csrf_token %}
                <div class="columns">
                    <div class="column">
                        <a class="button is-danger is-fullwidth is-medium" href="{% url 'mechbot_alerts' %}">Cancel</a>
                    </div>
                    <div class="column">
                        <input class="button is-primary is-fullwidth is-medium" type="submit" value="Confirm">
                    </div>    
                </div>          
            </form>  
        </div>

    </div>
</section>


{% endblock %}